@import '/src/styles/reset.css';
@import '/src/styles/default.css';

header p {
    margin-bottom: 160px;
}

/* 메인 */
main .collect {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main header {
    margin-bottom: 30px;
    text-align: center;
}
main .status-image img {
    width: 100px;
    height: 100px;
    padding: 20px;
}
.fail .status {
    color: #f00;
}
/* 안내 텍스트 */
main .notice {
    color: #7b7b7b;
    margin-bottom: 10px;
}
